@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
    background: #1a1a1a;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.container {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
    width: 600px;
}

.container > * {
    flex: 1 1 auto;
}

.container .locations {
    width: 300px;
}

.container .locations .location {
    height: 150px;
}

.container .locations .location.selected {
    background: #383838;
}

.container .locations .location .data {
    height: 140px;
    margin: 10px 10px;
    border-radius: 5px 5px;
}

.container .locations .location .data .place {
    font-size: 1.2em;
}

.container .forecast-container {
    width: 350px;
}

.container .forecast-container .forecast {
    border-radius: 5px 5px;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

.container .forecast-container .forecast > div {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container .forecast-container .forecast .summary .conditions {
    flex: 1;
}

.container .forecast-container .forecast .summary .location {
    flex: 2;
}

.container .forecast-container .forecast .summary .temperature {
    flex: 1;
    text-align: right;
}

.container .forecast-container .forecast > div > * {
    margin-top: 20px;
}

.container .forecast-container .forecast > div > *:first-child {
    margin-left: 15px;
}

.container .forecast-container .forecast > div > *:last-child {
    margin-right: 15px;
}

.container .forecast-container .forecast .conditions {
    font-size: 2.4em;
    margin-left: 15px;
    margin-top: 20px;
}

.container .forecast-container .forecast .location {
    font-size: 1.2em;
    margin-top: 40px;
}

.container .forecast-container .forecast .temperature {
    font-size: 2em;
    margin-top: 20px;
    margin-right: 15px;
}

.container .forecast-container .forecast .details {
    padding-bottom: 30px;
}

.container .forecast-container .forecast .details .detail {
    width: 120px;
    flex: 1 1 auto;
    font-size: 0.9em;
}

.container .forecast-container .forecast .details .detail .text {
    margin-left: 10px;
    float: left;
}

.container .forecast-container .forecast .details .detail .icon {
    font-size: 1.5em;
    float: left;
}

.container .forecast-container .forecast .details .detail .text .subtitle {
    font-weight: 300;
    display: block;
}

.container .forecast-container .forecast .details .detail .text .title {
    display: block;
}

.temp-hot {
    background: #e9b96f;
}

.temp-warm {
    background: #ecc055;
}

.temp-cool {
    background: #afdcd8;
    color: black;
}

.temp-cold {
    background: #fafafa;
    color: black;
}
